__pycache__/
*.py[cod]
*$py.class
.venv/
blogs/
*.egg-info/
dist/
.env
# baoyu-skills: ignore all but allow EXTEND.md and SKILL.md
.baoyu-skills/*
!.baoyu-skills/*/
.baoyu-skills/*/.env
!.baoyu-skills/*/EXTEND.md
!.baoyu-skills/*/SKILL.md
xhs-images/
